services:
  d:
    # downloader service
    # Prerequisite: build image first, using
    # https://github.com/ibm-webmethods-continuous-delivery/7u-container-images/blob/main/images/u/ubi9/vm-emu/minimal/build-local-wmui.bat
    image: vm-emu-min-local-wmui-u:ubi9
    volumes:
      - ../../../../:/opt/iwcd/wmui
      - ./scripts/:/mnt/scripts
      - ${H_WMUI_ARTIFACTS_DIR}:/mnt/artifacts/
      - install-home:/opt/webmethods
      - audit-home:/var/webmethods/audit
      - umgr-home:/opt/wm-upd-mgr-v11
      - wm-user-home:/home/webmethods
    environment:
      - TEST_INSTALLER_BIN=/mnt/artifacts/default-installer.bin
      - TEST_UMGR_BIN=/mnt/artifacts/default-umgr-bootstrap.bin
    entrypoint: /mnt/scripts/entrypoint.sh

volumes:
  install-home: {}
  audit-home: {}
  umgr-home: {}
  wm-user-home: {}
