# Template for .env file

## .env file is not subject to commit, keep your local information here

## Must tell where are the installation assets

H_WMUI_INSTALLER_BIN=../../local/artifacts/installer.bin
H_WMUI_SUM_BOOTSTRAP_BIN=../../local/artifacts/upd-mgr-bootstrap.bin
H_LICENSES_FOLDER=../../local/licenses/folder

H_OUTPUT_FOLDER=./local
H_WMUI_HOME=../..

WMUI_AUDIT_HOME=/app/webmethods/audit
WMUI_INSTALL_HOME=/app/webmethods/version/products
WMUI_INSTALL_INSTALL_DIR=/app/webmethods/version/products
WMUI_UPD_MGR_HOME=/app/upd-mgr-v11
WMUI_USER_HOME=/app
